//Logo
@import "logo/logo.scss";

//Header
@import "header/header.scss";

//Footer
@import "footer/footer.scss";

//Titles
@import "titles/titles.scss";

//Loading
@import "loading/loading.scss";

.page-content {
    background-color: #FBFBFC;
    padding: 0 0 20px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}