/* Noto Sans */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/noto/noto-sans.woff2) format('woff2');
}
/* Noto Sans Bold */
@font-face {
  font-family: 'Noto Sans bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/noto/noto-sans-bold.woff2) format('woff2');
}