.dropdown {
    position: relative;

    & .dropdown-toggle {
        &::after {
            content: '';
            background-image: url(../images/icons/angle-down-solid.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 15px;
            height: 15px;
            margin: 0 5px;
        }
    }

    & .dropdown-menu {
        position: absolute;
        right: 0;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: 0;
        margin: 5px 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #f5f5f5;
        border-radius: 0.375rem;

        & li {
            &:last-child {
                & .dropdown-item {
                    border: none;
                }
            }
            & .dropdown-item {
                display: block;
                width: 100%;
                padding: .5rem 0.375rem;
                clear: both;
                font-weight: 400;
                color: $gray-900;
                text-align: inherit;
                text-decoration: none;
                white-space: nowrap;
                background-color: transparent;
                border: 1px solid #f5f5f5;

                &:hover {
                    background-color: $default;
                    color: $white;
                    & svg {
                        fill: $white;
                    }
                }

                & svg {
                    max-height: 15px;
                    margin: 0 5px 0 0;
                    fill: $default;
                }
            }
        }
    }
    
    &.show {
        & .dropdown-menu {
            display: block;
        }
    }
}
